<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener  class-name="org.base.test.AutomaticRerun"></listener>
</listeners>
  <test thread-count="5" name="ChromeTest">
    <parameter name="Browser" value="chrome"></parameter>
    <parameter name="URL" value="https://adactinhotelapp.com/"></parameter>
    <groups>
  <run>
  <include name="smoke"></include>
  <include name="functional"></include>
  <include name="regression"></include>
  
    <!--exclude name="functional"></exclude-->
    </run>
    </groups>
    <classes>
      <class name="org.base.test.TestD"/>
      <class name="org.base.test.HotelBooking"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="ieTest">
    <parameter name="Browser" value="IE"></parameter>
    <parameter name="URL" value="https://adactinhotelapp.com/"></parameter>
    <groups>
  <run>
  <include name="smoke"></include>
  <include name="functional"></include>
  <include name="regression"></include>
  
    <!--exclude name="functional"></exclude-->
    </run>
    </groups>
    <classes>
      <class name="org.base.test.TestD"/>
       <class name="org.base.test.HotelBooking"/>
    </classes>
  </test> <!-- Test -->
  
  
<test thread-count="5" name="failcheck">
<classes>
<class name="org.base.test.FailCheck"/>
</classes>
</test>
</suite> <!-- Suite -->





